**Table of contents**<a id='toc0_'></a>    
- [<b>Import Libraries</b>](#toc1_)    
- [<b>1. Load Dataset</b>](#toc2_)    
  - [Load Configuration File](#toc2_1_)    
  - [Data Collection](#toc2_2_)    
- [<b>2. Data Validation </b>](#toc3_)    
  - [Types of Data](#toc3_1_)    
  - [Data Range](#toc3_2_)    
  - [<b>Data Dimension </b>](#toc3_3_)    
- [<b>Handling Columns Type</b>](#toc4_)    
  - [Check Dataset Type](#toc4_1_)    
- [<b>Handling data category</b>](#toc5_)    
- [<b>Data Defense</b>](#toc6_)    
- [<b>Splitting Data</b>](#toc7_)    
  - [<b>Split Train and Test Data (7:3)</b>](#toc7_1_)    
  - [<b>Split Valid and Test Data (1:1)</b>](#toc7_2_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# <a id='toc1_'></a>[<b>Import Libraries</b>](#toc0_)

In [104]:
from tqdm import tqdm
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import src.util as util
import joblib
import os
import yaml
import copy

import warnings
warnings.filterwarnings('ignore')

In [12]:
class clr:
    start = '\033[93m' + '\033[1m'
    bold = '\033[1m'
    underline = '\033[4m'
    color = '\033[93m'
    end = '\033[0m'

# <a id='toc2_'></a>[<b>1. Load Dataset</b>](#toc0_)

## <a id='toc2_1_'></a>[Load Configuration File](#toc0_)

In [117]:
config_data = util.load_config()

## <a id='toc2_2_'></a>[Data Collection](#toc0_)

In [3]:
def read_raw_data(config: dict) -> pd.DataFrame:
    # Create variable to store raw dataset
    raw_dataset = pd.DataFrame()

    # Raw Dataset Dir
    raw_dataset_dir = config["raw_dataset_dir"]

    # Look and load add csv files
    for i in tqdm(os.listdir(raw_dataset_dir)):
        raw_dataset = pd.concat([pd.read_csv(raw_dataset_dir + i), raw_dataset])
    
    # Return raw dataset
    return raw_dataset

In [4]:
raw_dataset = read_raw_data(config_data)

100%|██████████| 1/1 [00:00<00:00, 25.71it/s]

In [13]:
# dataset = pd.read_csv('insurance_claims.csv')
pd.set_option('display.max_columns', None)

raw_dataset.head().style.background_gradient(cmap='YlOrBr')

In [14]:
# Save raw dataset to file
util.pickle_dump(raw_dataset, config_data["raw_dataset_path"])

# <a id='toc3_'></a>[<b>2. Data Validation </b>](#toc0_)

## <a id='toc3_1_'></a>[Types of Data](#toc0_)

In [15]:
raw_dataset.dtypes

months_as_customer               int64
age                              int64
policy_number                    int64
policy_bind_date                object
policy_state                    object
policy_csl                      object
policy_deductable                int64
policy_annual_premium          float64
umbrella_limit                   int64
insured_zip                      int64
insured_sex                     object
insured_education_level         object
insured_occupation              object
insured_hobbies                 object
insured_relationship            object
capital-gains                    int64
capital-loss                     int64
incident_date                   object
incident_type                   object
collision_type                  object
incident_severity               object
authorities_contacted           object
incident_state                  object
incident_city                   object
incident_location               object
incident_hour_of_the_day         int64
number_of_vehicles_involved      int64
property_damage                 object
bodily_injuries                  int64
witnesses                        int64
police_report_available         object
total_claim_amount               int64
injury_claim                     int64
property_claim                   int64
vehicle_claim                    int64
auto_make                       object
auto_model                      object
auto_year                        int64
fraud_reported                  object
_c39                           float64
dtype: object

## <a id='toc3_2_'></a>[Data Range](#toc0_)

In [40]:
# some columns have minimum value of zero, this value has been encoded as a missing value 
# instead of None Value or Misig cell.

raw_dataset.describe().style.set_sticky(axis="index").background_gradient()

## <a id='toc3_3_'></a>[<b>Data Dimension </b>](#toc0_)

In [41]:
raw_dataset.shape

(1000, 40)

# <a id='toc4_'></a>[<b>Handling Columns Type</b>](#toc0_)

Change <b>Capital-gains</b> and <b>capital-loss</b> column name

In [42]:
raw_dataset =raw_dataset.rename(columns = {'capital-gains':'capital_gains'})
raw_dataset =raw_dataset.rename(columns = {'capital-loss':'capital_loss'})

Convert dataset <i>datetime</i>, <br>
convert data type <b>float</b> into <b>int32</b>, <br> 
convert data type <b>int64</b> into <b>int32</b> and <br>
convert few of data type <b>int</b> into <b>object</b>

In [43]:
def type_data(set_data):
    """Change raw dataset type.

    Convert raw dataset datetime, float into int, int64 to int32 and convert int columns into object
    """
    # --- Change datetime object ---#
    for col in config_data["datetime_columns"]:
        set_data[col] = pd.to_datetime(set_data[col])

    # --- Columns _c39 is not defined columns, then drop the columns -- #
    set_data = set_data.drop(columns = ['_c39'], axis=1)

    # --- change columns type policy_annual_premium columns into int64 ---#
    set_data = set_data.astype({col: 'int32' for col in set_data.select_dtypes('float64').columns})

    # --- convert int64 into int32 --- #
    set_data = set_data.astype({col: 'int32' for col in set_data.select_dtypes('int64').columns})

    # --- convert few of int columns into object --- #
    raw_dataset_date = set_data[config_data['datetime_columns']]
    raw_dataset_num = set_data[config_data['int32_col']]

    list_of_non_cat = config_data['int32_col'].copy()
    list_of_non_cat = list_of_non_cat + config_data['datetime_columns']

    raw_dataset_cat = set_data[config_data['object_columns']]
    raw_dataset_cat = raw_dataset_cat.astype(str)

    # --- Return raw dataset with datetime, numerical int, and category object --#
    raw_dataset = pd.concat([raw_dataset_date, raw_dataset_num, raw_dataset_cat], axis = 1)
    
    # --- Handle umbrella limit data --- #
    raw_dataset = raw_dataset.replace({'umbrella_limit': '-1000000'}, '1000000') 

    return raw_dataset

In [44]:
raw_dataset = type_data(raw_dataset)

## <a id='toc4_1_'></a>[Check Dataset Type](#toc0_)

In [45]:
## Check dataset type of each features
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   policy_bind_date             1000 non-null   datetime64[ns]
 1   incident_date                1000 non-null   datetime64[ns]
 2   months_as_customer           1000 non-null   int32
 3   age                          1000 non-null   int32
 4   policy_number                1000 non-null   int32
 5   policy_annual_premium        1000 non-null   int32
 6   insured_zip                  1000 non-null   int32
 7   capital_gains                1000 non-null   int32
 8   capital_loss                 1000 non-null   int32
 9   incident_hour_of_the_day     1000 non-null   int32
 10  total_claim_amount           1000 non-null   int32
 11  injury_claim                 1000 non-null   int32
 12  property_claim               1000 non-null   int32
 13  vehicle_claim                1000 non-null   int32
 14  policy_state                 1000 non-null   object
 15  policy_csl                   1000 non-null   object
 16  policy_deductable            1000 non-null   object
 17  umbrella_limit               1000 non-null   object
 18  insured_sex                  1000 non-null   object
 19  insured_hobbies              1000 non-null   object
 20  incident_type                1000 non-null   object
 21  collision_type               1000 non-null   object
 22  incident_severity            1000 non-null   object
 23  authorities_contacted        1000 non-null   object
 24  incident_state               1000 non-null   object
 25  incident_city                1000 non-null   object
 26  incident_location            1000 non-null   object
 27  number_of_vehicles_involved  1000 non-null   object
 28  property_damage              1000 non-null   object
 29  bodily_injuries              1000 non-null   object
 30  witnesses                    1000 non-null   object
 31  auto_year                    1000 non-null   object
 32  police_report_available      1000 non-null   object
 33  auto_make                    1000 non-null   object
 34  auto_model                   1000 non-null   object
 35  fraud_reported               1000 non-null   object
dtypes: datetime64[ns](2), int32(12), object(22)
memory usage: 234.5+ KB

In [46]:
## Sanity Check
raw_dataset.shape

(1000, 36)

# <a id='toc5_'></a>[<b>Handling data category</b>](#toc0_)

In [85]:
## Check categorical data
pd.set_option('display.max_rows', None)

data_count = pd.DataFrame(
                        raw_dataset[raw_dataset.select_dtypes('object').columns.to_list()]
                        .melt(var_name='columns', value_name='index')\
                        .value_counts())\
                        .sort_values(by=['columns','count'])

print(data_count)

                                                      count
columns                     index
authorities_contacted       nan                          91
                            Ambulance                   196
                            Other                       198
                            Fire                        223
                            Police                      292
auto_make                   Honda                        55
                            Mercedes                     65
                            Jeep                         67
                            Volkswagen                   68
                            Accura                       68
                            Audi                         69
                            Toyota                       70
                            BMW                          72
                            Ford                         72
                            Chevrolet                    76
                            Nissan                       78
                            Dodge                        80
                            Saab                         80
                            Suburu                       80
auto_model                  RSX                          12
                            Accord                       13
                            M5                           15
                            X6                           16
                            C300                         18
                            3 Series                     18
                            TL                           20
                            Corolla                      20
                            CRV                          20
                            Impreza                      20
                            ML350                        20
                            Fusion                       21
                            Civic                        22
                            Silverado                    22
                            Highlander                   22
                            X5                           23
                            Ultima                       23
                            Maxima                       24
                            Escape                       24
                            Tahoe                        24
                            93                           25
                            Grand Cherokee               25
                            95                           27
                            F150                         27
                            E400                         27
                            Forrestor                    28
                            92x                          28
                            Camry                        28
                            Malibu                       30
                            Pathfinder                   31
                            A5                           32
                            Legacy                       32
                            Passat                       33
                            Jetta                        35
                            MDX                          36
                            Neon                         37
                            A3                           37
                            Wrangler                     42
                            RAM                          43
auto_year                   1996                         37
                            2004                         39
                            1998                         40
                            2001                         42
                            2000                         42
                            2014                         44
                            2008                         45
                            1997                         46
                            2012                         46
                            2015                         47
                            2002                         49
                            2013                         49
                            2010                         50
                            2009                         50
                            2003                         51
                            2007                         52
                            2011                         53
                            2006                         53
                            2005                         54
                            1999                         55
                            1995                         56
bodily_injuries             1                           328
                            2                           332
                            0                           340
collision_type              ?                           178
                            Front Collision             254
                            Side Collision              276
                            Rear Collision              292
fraud_reported              Y                           247
                            N                           753
incident_city               Northbrook                  122
                            Riverwood                   134
                            Hillsdale                   141
                            Northbend                   145
                            Columbus                    149
                            Arlington                   152
                            Springfield                 157
incident_location           7121 Francis Lane             1
                            7121 Britain Drive            1
                            7121 Rock St                  1
                            7135 Flute Lane               1
                            7142 5th Lane                 1
                            7144 Andromedia St            1
                            7155 Apache Drive             1
                            7162 Maple Ave                1
                            7168 Andromedia Ridge         1
                            7201 Washington Ave           1
                            7178 Best Drive               1
                            7197 2nd Drive                1
                            7314 Tree Drive               1
                            7223 Embaracadero St          1
                            7236 Apache Lane              1
                            7238 2nd St                   1
                            7240 5th Ridge                1
                            7253 MLK St                   1
                            7281 Maple Hwy                1
                            7281 Oak St                   1
                            7295 Tree Hwy                 1
                            7299 Apache St                1
                            7108 Tree St                  1
                            7316 Texas Ave                1
                            7327 Lincoln Drive            1
                            7331 Sky Hwy                  1
                            7112 Weaver Ave               1
                            6981 Weaver St                1
                            7098 Lincoln Hwy              1
                            6939 3rd Hwy                  1
                            6770 1st St                   1
                            6834 1st Drive                1
                            6838 Flute Lane               1
                            6848 Elm Hwy                  1
                            6851 3rd Drive                1
                            6853 Sky Hwy                  1
                            6859 Flute Ridge              1
                            6874 Maple Ridge              1
                            6888 Elm Ridge                1
                            6889 Cherokee St              1
                            6931 Elm St                   1
                            6934 Lincoln Ave              1
                            6945 Texas Hwy                1
                            7082 Oak Ridge                1
                            6955 Pine Drive               1
                            6956 Maple Drive              1
                            6957 Weaver Drive             1
                            6971 Best Ridge               1
                            7393 Washington St            1
                            6985 Maple Lane               1
                            7002 Oak Hwy                  1
                            7041 Tree Ridge               1
                            7042 Maple Ridge              1
                            7061 Cherokee Drive           1
                            7066 Texas Ave                1
                            7069 4th Hwy                  1
                            7380 5th Hwy                  1
                            7488 Lincoln Lane             1
                            7397 4th Drive                1
                            7583 Washington Ave           1
                            7609 Rock St                  1
                            7615 Weaver Drive             1
                            7628 4th Lane                 1
                            7629 5th St                   1
                            7630 Rock Drive               1
                            7644 Tree Ridge               1
                            7649 Texas St                 1
                            7684 Francis Ridge            1
                            7693 Britain Lane             1
                            7693 Cherokee Lane            1
                            7701 Tree St                  1
                            7705 Best Ridge               1
                            7705 Lincoln Drive            1
                            7709 Rock Lane                1
                            7717 Britain Hwy              1
                            7721 Washington Ridge         1
                            7733 Britain Lane             1
                            7740 MLK St                   1
                            7745 Washington Ridge         1
                            7756 Pine Hwy                 1
                            7756 Solo Drive               1
                            7773 Tree Hwy                 1
                            7780 Flute Lane               1
                            6751 5th Hwy                  1
                            7782 Rock St                  1
                            7601 Andromedia Lane          1
                            7582 Pine Drive               1
                            7405 Oak St                   1
                            7576 Pine Ridge               1
                            7426 Rock Drive               1
                            7428 Sky Hwy                  1
                            7434 Oak Hwy                  1
                            7447 Lincoln Ridge            1
                            7459 Flute St                 1
                            7460 Apache Lane              1
                            7466 MLK Ridge                1
                            7476 4th St                   1
                            7477 MLK Drive                1
                            7495 Washington Ave           1
                            7500 Texas Ridge              1
                            7502 Rock Lane                1
                            7504 Flute Drive              1
                            7511 1st Ave                  1
                            7523 Oak Lane                 1
                            7529 Solo Ridge               1
                            7534 MLK Hwy                  1
                            7535 5th Lane                 1
                            7544 Washington Ave           1
                            7551 Britain Lane             1
                            7552 3rd St                   1
                            7570 Cherokee Drive           1
                            7571 Elm Ridge                1
                            7574 4th St                   1
                            7575 Pine St                  1
                            6751 Pine Ridge               1
                            6359 MLK Ridge                1
                            6741 Oak Ridge                1
                            6092 5th Ave                  1
                            6110 Rock Ridge               1
                            6117 4th Ave                  1
                            6128 Elm Lane                 1
                            6137 MLK St                   1
                            6149 Best Ridge               1
                            6158 Sky Ridge                1
                            6165 Rock Ridge               1
                            6179 3rd Ridge                1
                            6191 Oak Lane                 1
                            6193 1st Hwy                  1
                            6206 3rd Ridge                1
                            6250 1st Ridge                1
                            6256 Elm St                   1
                            6259 Lincoln Hwy              1
                            6259 Weaver St                1
                            6260 5th Lane                 1
                            6303 1st Drive                1
                            6309 5th Ave                  1
                            6309 Cherokee Ave             1
                            6315 2nd Lane                 1
                            6317 Best St                  1
                            6329 Apache Ave               1
                            6331 MLK Ave                  1
                            6355 4th Hwy                  1
                            6357 Texas Lane               1
                            6104 Oak Ave                  1
                            6068 2nd St                   1
                            6375 2nd Lane                 1
                            6067 Weaver Ridge             1
                            5839 Weaver Lane              1
                            5846 Weaver Drive             1
                            5855 Apache St                1
                            5862 Apache Ridge             1
                            5865 Sky Lane                 1
                            5868 Best Drive               1
                            5868 Sky Hwy                  1
                            5874 1st Hwy                  1
                            5894 Flute Drive              1
                            5901 Elm Drive                1
                            5904 1st Drive                1
                            5914 Oak Ave                  1
                            5924 Maple Drive              1
                            5925 Tree Hwy                 1
                            5969 Francis St               1
                            5971 5th Hwy                  1
                            5985 Lincoln Lane             1
                            5994 5th Ave                  1
                            5997 Embaracadero Drive       1
                            6011 Britain St               1
                            6012 Texas Hwy                1
                            6035 Rock Ave                 1
                            6044 Weaver Drive             1
                            6045 Andromedia St            1
                            6058 Andromedia Hwy           1
                            7785 Lincoln Lane             1
                            6378 Britain Ave              1
                            6738 Washington Hwy           1
                            6583 MLK Ridge                1
                            6604 Apache Drive             1
                            6605 Tree Ave                 1
                            6608 Apache Lane              1
                            6608 MLK Hwy                  1
                            6618 Cherokee Drive           1
                            6619 Flute Ave                1
                            6634 Texas Ridge              1
                            6638 Tree Drive               1
                            6655 5th Drive                1
                            6658 Weaver St                1
                            6660 MLK Drive                1
                            6668 Andromedia Ridge         1
                            6676 Tree Lane                1
                            6677 Andromedia Drive         1
                            6678 Weaver Drive             1
                            6681 Texas Ridge              1
                            6684 Solo Lane                1
                            6702 Andromedia St            1
                            6706 Francis Drive            1
                            6717 Best Drive               1
                            6719 Flute St                 1
                            6723 Best Drive               1
                            6724 Andromedia St            1
                            6731 Andromedia Hwy           1
                            6738 Francis Hwy              1
                            6603 Francis Hwy              1
                            6582 Elm Lane                 1
                            6384 5th Ridge                1
                            6581 Rock Ridge               1
                            6390 Apache St                1
                            6399 Oak Drive                1
                            6408 Weaver Ridge             1
                            6409 Cherokee Drive           1
                            6428 Andromedia Lane          1
                            6429 4th Hwy                  1
                            6435 Texas Ave                1
                            6440 Rock Lane                1
                            6443 Washington Ridge         1
                            6451 1st Hwy                  1
                            6456 Andromedia Drive         1
                            6467 Best Ave                 1
                            6479 Francis Ave              1
                            6484 Tree Drive               1
                            6492 4th Lane                 1
                            6493 Lincoln Lane             1
                            6494 4th Ave                  1
                            6501 5th Drive                1
                            6515 Oak Lane                 1
                            6516 Solo Drive               1
                            6522 Apache Drive             1
                            6530 Weaver Ave               1
                            6536 MLK Hwy                  1
                            6550 Andromedia St            1
                            6574 4th Drive                1
                            7783 Lincoln Hwy              1
                            8442 Britain Hwy              1
                            7791 Britain Ridge            1
                            9286 Oak Ave                  1
                            9169 Cherokee Hwy             1
                            9169 Pine Ridge               1

We can set to drop <b>incident_location</b>, since it has <b>unique values.</b>

In [88]:
# --- drop incident_location --- #
raw_dataset = raw_dataset.drop(columns='incident_location')

There's value of <b>'?' and 'nan'</b> in several features, we can't drop this value <br>
since it will significantly drop the instances of dataset, hence we convert <b>'?'</b> and <b>'nan'</b> into <b>'Unknown'</b> <br>
We will reconsider to fill this unknown value on <b>imputation step</b>

In [116]:
# --- Change ? category value into UNKNOWN

raw_dataset.collision_type = raw_dataset.collision_type.replace("?","UNKNOWN")
raw_dataset.property_damage = raw_dataset.property_damage.replace("?", "UNKNOWN")
raw_dataset.police_report_available = raw_dataset.police_report_available.replace("?", "UNKNOWN")
raw_dataset.authorities_contacted = raw_dataset.authorities_contacted.replace("nan", "UNKNOWN")

In [118]:
# Check label data
raw_dataset.fraud_reported.value_counts(normalize=True)

fraud_reported
N    0.753
Y    0.247
Name: proportion, dtype: float64

# <a id='toc6_'></a>[<b>Data Defense</b>](#toc0_)

In [119]:
def check_data(input_data, params, api = False):
    input_data = copy.deepcopy(input_data)
    params = copy.deepcopy(params)

    if not api:
        # Check data types
        assert input_data.select_dtypes("datetime").columns.to_list() == \
            params["datetime_columns"], "an error occurs in datetime column(s)."
        assert input_data.select_dtypes("object").columns.to_list() == \
            params["object_columns"], "an error occurs in object column(s)."
        assert input_data.select_dtypes("int").columns.to_list() == \
            params["int32_col"], "an error occurs in int32 column(s)."
    else:
        # In case checking data from api
        # Predictor that has object dtype only stasiun
        object_columns = params["object_columns"]
        del object_columns[1:]

        # Max column not used as predictor
        int_columns = params["int32_col"]
        del int_columns[-1]

        # Check data types
        assert input_data.select_dtypes("object").columns.to_list() == \
            object_columns, "an error occurs in object column(s)."
        assert input_data.select_dtypes("int").columns.to_list() == \
            int_columns, "an error occurs in int32 column(s)."
        
    # Check data ranges
    assert set(input_data.policy_deductable).issubset(set(params["policy_deductable"])), \
        "an error occurs in policy_deductable range."
    assert set(input_data.umbrella_limit).issubset(set(params["umbrella_limit"])), \
        "an error occurs in umbrella_limit range."
    assert set(input_data.number_of_vehicles_involved).issubset(set(params["number_of_vehicles_involved"])), \
        "an error occurs in number_of_vehicles_involved range."
    assert set(input_data.bodily_injuries).issubset(set(params["bodily_injuries"])), \
        "an error occurs in bodily_injuries range."
    assert set(input_data.witnesses).issubset(set(params["witnesses"])), \
        "an error occurs in witnesses range."
    assert set(input_data.auto_year).issubset(set(params["auto_year"])), \
        "an error occurs in auto_year range."
    assert set(input_data.policy_state).issubset(set(params["policy_state"])), \
        "an error occurs in policy_state range."
    assert set(input_data.policy_csl).issubset(set(params["policy_csl"])), \
        "an error occurs in policy_csl range."
    assert set(input_data.insured_sex).issubset(set(params["insured_sex"])), \
        "an error occurs in insured_sex range."
    assert set(input_data.insured_hobbies).issubset(set(params["insured_hobbies"])), \
        "an error occurs in insured_hobbies range."
    assert set(input_data.incident_type).issubset(set(params["incident_type"])), \
        "an error occurs in incident_type range."
    assert set(input_data.collision_type).issubset(set(params["collision_type"])), \
        "an error occurs in collision_type range."
    assert set(input_data.incident_severity).issubset(set(params["incident_severity"])), \
        "an error occurs in incident_severity range."
    assert set(input_data.authorities_contacted).issubset(set(params["authorities_contacted"])), \
        "an error occurs in authorities_contacted range."
    assert set(input_data.incident_state).issubset(set(params["incident_state"])), \
        "an error occurs in incident_state range."
    assert set(input_data.incident_city).issubset(set(params["incident_city"])), \
        "an error occurs in incident_city range."
    assert set(input_data.property_damage).issubset(set(params["property_damage"])), \
        "an error occurs in property_damage range."
    assert set(input_data.police_report_available).issubset(set(params["police_report_available"])), \
        "an error occurs in police_report_available range."
    assert set(input_data.auto_make).issubset(set(params["auto_make"])), \
        "an error occurs in auto_make range."
    assert set(input_data.auto_model).issubset(set(params["auto_model"])), \
        "an error occurs in auto_model range."

    assert input_data.months_as_customer.between(params["months_as_customer"][0], params["months_as_customer"][1]).sum() == \
            len(input_data), "an error occurs in months_as_customer range."
    assert input_data.age.between(params["age"][0], params["age"][1]).sum() == \
            len(input_data), "an error occurs in age range."
    assert input_data.policy_number.between(params["policy_number"][0], params["policy_number"][1]).sum() == \
            len(input_data), "an error occurs in policy_number range."
    assert input_data.policy_annual_premium.between(params["policy_annual_premium"][0], params["policy_annual_premium"][1]).sum() == \
            len(input_data), "an error occurs in policy_annual_premium range."
    assert input_data.insured_zip.between(params["insured_zip"][0], params["insured_zip"][1]).sum() == \
            len(input_data), "an error occurs in insured_zip range."
    assert input_data["capital_gains"].between(params["capital_gains"][0], params["capital_gains"][1]).sum() == \
            len(input_data), "an error occurs in capital-gains range."
    assert input_data["capital_loss"].between(params["capital_loss"][0], params["capital_loss"][1]).sum() == \
            len(input_data), "an error occurs in capital-loss range."
    assert input_data.incident_hour_of_the_day.between(params["incident_hour_of_the_day"][0], params["incident_hour_of_the_day"][1]).sum() == \
            len(input_data), "an error occurs in incident_hour_of_the_day range."
    assert input_data.total_claim_amount.between(params["total_claim_amount"][0], params["total_claim_amount"][1]).sum() == \
            len(input_data), "an error occurs in total_claim_amount range."
    assert input_data.injury_claim.between(params["injury_claim"][0], params["injury_claim"][1]).sum() == \
            len(input_data), "an error occurs in injury_claim range."
    assert input_data.property_claim.between(params["property_claim"][0], params["property_claim"][1]).sum() == \
            len(input_data), "an error occurs in property_claim range."
    assert input_data.vehicle_claim.between(params["vehicle_claim"][0], params["vehicle_claim"][1]).sum() == \
            len(input_data), "an error occurs in vehicle_claim range."

In [120]:
check_data(raw_dataset, config_data)

In [122]:
## Save final raw dataset
util.pickle_dump(raw_dataset, config_data["cleaned_raw_dataset_path"])

# <a id='toc7_'></a>[<b>Splitting Data</b>](#toc0_)

In [123]:
# Split input/variable/feature with target/labet/output
X = raw_dataset[config_data["predictor"]].copy()
y = raw_dataset[config_data["label"]].copy()

In [124]:
y.value_counts(normalize=True)

fraud_reported
N    0.753
Y    0.247
Name: proportion, dtype: float64

    Data imbalance with 75% and 25%

## <a id='toc7_1_'></a>[<b>Split Train and Test Data (7:3)</b>](#toc0_)

In [125]:
# First split, splitting train and test set with ratio 0.7:0.3 and do stratify splitting
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state= 42, stratify= y)

## <a id='toc7_2_'></a>[<b>Split Valid and Test Data (1:1)</b>](#toc0_)

In [126]:
# Second split, splitting test and valid set with ratio 0.5:0.5 and do stratify splitting
x_valid, x_test, y_valid, y_test = train_test_split(x_test, y_test, test_size = 0.5, random_state= 42, stratify= y_test)

In [127]:
util.pickle_dump(x_train, config_data["train_set_path"][0])
util.pickle_dump(y_train, config_data["train_set_path"][1])

util.pickle_dump(x_valid, config_data["valid_set_path"][0])
util.pickle_dump(y_valid, config_data["valid_set_path"][1])

util.pickle_dump(x_test, config_data["test_set_path"][0])
util.pickle_dump(y_test, config_data["test_set_path"][1])